<sly data-sly-use.menunav="com.project.core.models.MenuNav"></sly>
<section class="about-banner">
	<div class="container">				
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">${currentPage.title}</h1>	
				<p class="text-white link-nav">
					<a href="${menunav.path @ extension = 'html'}">${menunav.title}</a>
					<span class="lnr lnr-arrow-right"></span>
					<a href="${currentPage.path @ extension = 'html'}">${currentPage.title}</a>
				</p>
			</div>	
		</div>
	</div>
</section>