<div data-sly-use.banner="com.project.core.models.HomeAbout"></div>
<section class="home-about-area pt-120">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-lg-6 col-md-6 home-about-left">
<img class="img-fluid" src="${banner.image}" alt="">
</div>
<div class="col-lg-5 col-md-6 home-about-right">
<h6>${banner.about}</h6>
<h1>${banner.details}</h1>
<p>${banner.intro}</p>
<a href="#" class="primary-btn text-uppercase">${banner.button}</a>
</div>
</div>
</div>	
</section>
<!-- End home-about Area -->