li {
    list-style: none;
}
.list-container {
    font-family: sans-serif;
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-container {
    margin: 50px;
    color: #000000;
    text-align: center;
    width: auto;
    padding: 20px;
    margin: 0 1rem 2rem 1rem;
  	text-align: center;
}
.firstName, .lastName{
	font-weight: bold;
} 
.test{
        text-align: center;
    }