<div data-sly-use.price="com.project.core.models.Price"></div>
<section class="price-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-md-12 single-price">
							<div class="top-part">
								<h1 class="package-no">${price.count}</h1>
								<h4>${price.title}</h4>
								<p class="mt-10">${price.heading}</p>
							</div>
							<div class="package-list">
								<ul>
									<li>${price.tag1}</li>
									<li>${price.tag2}</li>
									<li>${price.tag3}</li>
								</ul>
							</div>							
						</div>
                        </div>
                        </div>
                        </section>
