
<sly data-sly-use.footer="com.project.core.models.Footer"></sly>
<footer class="footer-area section-gap">
<div class="container">
<div class="row">
<div class="col-lg-5 col-md-6 col-sm-6">
<div class="single-footer-widget">
<h4>${footer.heading1}</h4>
<p>${footer.text1}</p>
</div>
</div>
<div class="col-lg-5 col-md-6 col-sm-6">
<div class="single-footer-widget">
<h4>${footer.heading2}</h4>
<p>${footer.text2}</p>
<div class="" id="mc_embed_signup">
<form target="_blank" action="" method="get">
<div class="input-group">
<input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="" type="email">
<div class="input-group-btn">
<button class="btn btn-default" type="submit">
<span class="lnr lnr-arrow-right"></span>
</button>
</div>
<div class="info"></div>
</div>
</form>
</div>
</div>
</div>
<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
<div class="single-footer-widget">
<h4>${footer.heading3}</h4>
<p>${footer.text3}</p>
<div class="footer-social d-flex align-items-center">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-dribbble"></i></a>
<a href="#"><i class="fa fa-behance"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="pb-70"></div>
</footer>